*.cmd
*.o
*.order
*.builtin
*.swp
*.ko
*.mod.c
.config
.config.old
.gitignore
.missing-syscalls.d
.tmp_System.map
.tmp_kallsyms1.o
.tmp_kallsyms2.o
.tmp_versions/
.tmp_vmlinux1
.tmp_vmlinux2
.version
.vmlinux.cmd
vmlinux
Module.symvers
System.map
*.a
zImage
